<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @zoo.name %>
</p>

<p>
  <strong>Animal type:</strong>
  <%= @zoo.animal_type %>
</p>

<p>
  <strong>Age:</strong>
  <%= @zoo.age %>
</p>

<p>
  <strong>Available:</strong>
  <%= @zoo.available %>
</p>

<p>
  <strong>Image:</strong>
  <%= @zoo.image %>
</p>

<%= link_to 'Edit', edit_zoo_path(@zoo) %> |
<%= link_to 'Back', zoos_path %>
