<div class ="col-xs-12">
  <div class ="row-fluid">
    <h1><%= @article.title %></h1>
    <ul><%= @article.author %></ul>
    <ul><%= @article.date %></ul>
    <ul><%= @article.body %></ul>
    <ul><%= @article.private %></ul>
  </div>
  <div class="row-fluid">

  <h2>Comments</h2>
  <%= render @article.comments %>

  <h2>Add a comment:</h2>
  <%= render 'comments/form' %>

  <%=link_to "All Articles", articles_path, class: 'btn btn-lg btn-primary' %>
  <%=link_to "Edit This Article", edit_article_path(@article), class: 'btn btn-lg btn-warning' %>
  </div>
  <%= link_to 'Back', articles_path %>
</div>
